<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEP-PAGE</title>
</head>
<body>
    <div class="container" style="text-align: center;">
            <h1>HOTEL RESERVATION MAIN PAGE</h1>
            <form action="" method="POST">
                <h2>Go to the reservation page</h2>
                <button type="input" name="submit_button" value="reservation">GO</button>
            </form>
           
            
    </div>
</body>
</html>